{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="block block--comment-delete mt-3">
            <div class="block block-content">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>Are you sure you want to delete your comment ?</p>
                    <p class="mb-0">The delete is pernament.</p>
                </div>
                {{  form(form) }}
            </div>
        </div>
    </div>

{%  endblock %}